.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;

}

.SearchInput {
  width: 50%;
  border-radius: 25px;
  padding: 15px;
  font-size: 16px;
  margin: 5px;
}

.SearchBtn {
  width: 25%;
  border-radius: 25px;
  padding: 15px;
  color: white;
  background-color: #7ec0ee ;
  font-size: 16px;
  margin: 10px;

}

.list {
  padding: 10px;
  margin: auto;
  width: 50%;
}

.listEl {
  text-align: left;
  padding: 3px;
  list-style-position: inherit;
  font-size: 14px;
  list-style-image: url("https://img.icons8.com/ios/14/000000/christmas-star-filled.png");
}
